
    @font-face {
        font-family: 'Kitten Paw Regular';
        font-style: normal;
        font-weight: normal;
        src: local('Kitten Paw Regular'), url('Kitten Paw DEMO.woff') format('woff');
        }

h1 {
    font-family: 'Kitten Paw Regular';
    font-weight: 900;
    color: bisque;

}

.search {
    height: 3em;
    color: rgba(255, 255, 255, 0.219);
}